@import './global.css';

:host {
  display: flex;
  align-items: center;

  padding: 0.25em;
  margin: 0.25em;
  padding-right: 0.5em;
  border-radius: 1.5em;

  color: var(--main-color);
  border: 2px solid var(--main-color);
  background-color: #e6e3e3;
  box-shadow:var(--shadow);

  cursor:pointer;
  gap:4px;
  /*z-index: -1;*/
}

:host([selected]){
 background-color: var(--main-color);
 color: white;
 font-size: 1.1em;
}

.chip_delete
{
  display:flex;
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 0.25em;
  margin-right: 0.25em;
}
