form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field label {
  display: block;
  font-weight: bold;
}

select {
  background-color: white;
  border: solid 1px var(--line-color-big-contrast);
  padding: calc(0.25rem);
  border-radius: 0.25rem;
}


input {
  padding: 0.5rem;
  border: solid 1px var(--line-color-big-contrast);
}