@import url('https://static.ppsfleet.navy/fonts/Besley/style.css');
@import url('https://static.ppsfleet.navy/fonts/russisch-sans/style.css');  
:root
{
  --main-color: #69369B;
  --main-color-transparent-25: rgba(105, 54, 155, 0.25);
  --secondary-color: #666;
  --main-contrast-text: white;
  --shadow:0px 0px 15px 5px rgba(0,0,0,0.2);
  --line-color-small-contrast: #ddd;
  --line-color-big-contrast: #979797;
}

*
{
    font-family:'Russisch Sans';
}

.icon--medium
{
    width: 1.5em;
    height: 1.5em;
}

.icon--white
{
    filter: invert(100%);
}

h2
{
    margin: 0.5rem 0;
    font-family: 'Besley';
}

h3
{
    margin:0;
}

.flex
{
    display: flex
}

.flex.center
{
    justify-content: center;
    align-items: center;
}

.fullHeight
{
    height: 100%;
}

.fullWidth
{
    width:100%;
}

.secondary-text {
    font-size: 80%;
    opacity: .6;
}

.small-margin-top
{
    margin-top: 0.5rem;
}