.journey-summmary-list {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin: 0.5rem 0;
    padding: 0;
}

.journey-summmary {
    border: 1px solid var(--line-color-small-contrast);
    padding: 0.5rem;
    list-style-type: none;
    box-sizing:border-box;
}

.journey-summmary:hover {
    border: 2px solid var(--main-color);
    padding: calc(0.5rem - 1px);
}


.journey-summary__general-infos {
    display:flex;
}

.journey-summmary__duration {
    flex:1
}

.transport-name {
  display: inline-block;
  border: 1px solid;
  padding: 0 0.5rem;
}