

@import './global.css' layer(base);
@import './search.css' layer(base);
@import './itinerary.css' layer(base);
@import './tabs.css' layer(base);
@import './button.css' layer(base);
@import './annotations.css' layer(base);
@import './place.css' layer(base);
@import './contextMenu.css' layer(base);
@import './share.css' layer(base);
@import './form.css' layer(base);


@import './mobile/style.css' layer(mobile);


@layer base, mobile;

@layer base {
body
{
  margin:0;
  padding:0;
}

#map
{
  position:absolute !important;
  top:0;
  bottom:0;
  width: calc(100% - 350px);
}

#left-side-bar
{
  /*max-width: 350px;*/
  position: relative;
  padding: .5rem;
  display: inline-block;
  z-index: 10;
  width: fit-content;
}

#annotations
{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  box-shadow: var(--shadow);
  background-color: white;
  padding: 0.5rem;
  width: 350px;
  height: calc(100%);
  border-radius: 0px;
  box-sizing: border-box;
  overflow:auto;
}

#loading-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

}
