@import './global.css';

#search-container
{
  z-index:50;
  position: absolute;
  margin: 30px;
  box-sizing: border-box;
  width: 350px;
  max-width: calc(100% - 60px);
}

#search-container *
{
  box-sizing: border-box;
}

.search-label__input
{
  background-color:lightgrey;
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 0.8em;
  font-size: 1.1em;
  color:white;
}

.search-label__input::placeholder
{
  color:white;
}

.search-label
{
  border: none;
  padding: 0em 1em;
  background-color: #000000aa;
  color: white;
  border-radius: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow)
}

.search-label__icon
{
  height: 50%;
  vertical-align: middle;
  filter: invert(100%);
}

#search-results
{
  margin-top:0px;
  box-shadow:var(--shadow);
}

.search-results__result {
  margin: 0;
  border-radius: unset;
  width: 100%;
  border-bottom: 1px solid #d3d3d380;
  padding: 16px;
  background-color: white;
}

.search-results__result:last-child {
 border-radius: 0px 0px 5px 5px;
}

.search-results__result:last-child {
  border-bottom: none;
}

.search-results__result:hover
{
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--main-contrast-text);
}

.marker
{
  width: 40px;
  height: 50px;
  background-image: url("../images/pin.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  top:-20px;
}


#places{
  position: absolute;
  left: 416px;
  top:29px;
  max-width: 100%;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
}

 @media only screen and (max-device-width: 650px) { 


  #places{
    position: absolute;
    left: 0px;
    padding-left:8px;
    top: 96px;
    white-space: nowrap;
    overflow-x: auto;
    box-shadow: none;
    max-width: calc(100% - 8px);
    flex-wrap: nowrap;
  }
 } 
