
@media (max-width: 800px) {
    #annotations {
        display: none;
        width: 100%;
    }

    #annotations[visible="true"] {
        display: block;
    }

    #close-annotation-panel {
        display: block;
        margin-left: auto;
        margin-bottom: 1rem;
    }

    #map {
        width: 100%;
    }

    #left-side-bar {
        display: block;
        width: auto;
    }

    .tabs-container {
        width: 100%;
    }

    .tabs-content {
        flex:1;
    }

    [role="tabpanel"] {
        flex: 1;
        width: auto;
    }

    #annotation-mobile-button {
        position: absolute;
        bottom: 2.5rem;
        left: 1rem;
        z-index: 9;
        display: block;
        background-color: white;
        padding: 0.5rem;
        box-shadow: var(--shadow);
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid var(--line-color-big-contrast);
        display: flex;
        justify-content: center;
        gap:1rem;
    }
}