<!DOCTYPE html>
<html>
<head>
<!--
    <?php
      $coordinates = htmlspecialchars($_GET['map']);
    ?>
-->
    <meta charset='utf-8' />
    <title>Maps.ppsfleet.navy</title>
    <!--
    <meta property="og:image" content="<?= "https://maps.ppsfleet.navy/toulouse/preview.php?map=".$coordinates?>" />
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="400"/>
    <meta property="og:image:type" content="image/png">
    <meta property="twitter:image" content="<?= "https://maps.ppsfleet.navy/toulouse/preview.php?map=".$coordinates?>" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Maps.ppsfleet.navy"/>
    
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    -->
    <!-- mapbox -->
    <script src="{{ request.ssm_config['maplibre']['js']['url'] }}"></script>
    <link href="{{ request.ssm_config['maplibre']['css']['url'] }}" rel='stylesheet' />
    <!-- css -->
    <link href="{{ request.static_url('simplestreetmap:static/styles/style.css') }}" rel='stylesheet' />
    <!-- config -->
    <script>
        const BASE_API_URL = '/api/v1';
        const MAP_STYLE_URL = "{{ request.ssm_config['general']['map_style_url'] }}";
        const OVERLAYS = [];
        {% for overlay in request.ssm_config['overlays'] %}
          OVERLAYS.push({
            tilesUrl:"{{ overlay.tiles_url }}", 
            sourceLayer:"{{ overlay.source_layer }}", 
            name: "{{ overlay.name }}"
          })
        {% endfor %}
    </script>
</head>
<body>
    <div id='map'></div>
    <div id="left-side-bar">
    </div>
    <div id="annotations">
    </div>

    <!-- todo: add a contextmenu -->

    <script type="module">

        import { render, html} from "{{ request.static_url('simplestreetmap:static/vendor/preact/standalone.module.js') }}";

        //import search from './src/singletons/search.js'
        import map from "{{ request.static_url('simplestreetmap:static/scripts/singletons/map.js') }}";
        import PlaceComponent from "{{ request.static_url('simplestreetmap:static/scripts/components/PlaceComponent.js') }}";
        import TabsComponent from "{{ request.static_url('simplestreetmap:static/scripts/components/TabsComponent.js') }}";
        import TabExploreComponent from "{{ request.static_url('simplestreetmap:static/scripts/components/TabExploreComponent.js') }}";
        import TabJourneyComponent from "{{ request.static_url('simplestreetmap:static/scripts/components/TabJourneyComponent.js') }}";
        import ListAnnotationsComponent from "{{ request.static_url('simplestreetmap:static/scripts/components/ListAnnotationsComponent.js') }}";

        customElements.define('c-place', PlaceComponent);
        const tabs = [
          {
            icon: 'edit-find',
            label: 'Explore',
            content: TabExploreComponent,
            childProps: {},
            selected: true
          },
          {
            icon: 'compass',
            label: 'Journey',
            content: TabJourneyComponent,
            childProps: {}
          }
        ];
        render(
            html`<${TabsComponent} tabs="${tabs}" name="left-side-bar"/>`,
            document.getElementById('left-side-bar')
        );

        render(
          html`<${ListAnnotationsComponent}/>`,
          document.getElementById('annotations')
        );
    </script>
    {% include "components/chipBaseTemplate.jinja2" %}
</body>
</html>
