<!DOCTYPE html>
<html>
<head>
<!--
    <?php
      $coordinates = htmlspecialchars($_GET['map']);
    ?>
-->
    <meta charset='utf-8' />
    <title>Maps.ppsfleet.navy</title>
    <!--
    <meta property="og:image" content="<?= "https://maps.ppsfleet.navy/toulouse/preview.php?map=".$coordinates?>" />
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="400"/>
    <meta property="og:image:type" content="image/png">
    <meta property="twitter:image" content="<?= "https://maps.ppsfleet.navy/toulouse/preview.php?map=".$coordinates?>" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Maps.ppsfleet.navy"/>
    -->
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <!-- mapbox -->
    <script src='https://maps.ppsfleet.navy/maplibre/mapbox-gl-unminified.js'></script>
    <link href='https://maps.ppsfleet.navy/maplibre/mapbox-gl.css' rel='stylesheet' />
    <!-- css -->
    <link href='https://static.ppsfleet.navy/fonts/russisch-sans/style.css' rel='stylesheet' />
    <link href="{{ request.static_url('simplestreetmap:static/styles/style.css') }}" rel='stylesheet' />
    <!-- config -->
    <script>
        const BASE_API_URL = '/api/v1'
        const BASE_MAP_URL = "{{ request.ssm_config['general']['base_map_url'] }}";
    </script>
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>
    <div id='map'></div>
    <div id="left-side-bar">
    </div>

    <nav id="categories">
    </nav>

    <!-- todo: add a contextmenu -->

    <script type="module">

        import { render, html} from "{{ request.static_url('simplestreetmap:static/vendor/preact/standalone.module.js') }}";

        //import search from './src/singletons/search.js'
        import map from "{{ request.static_url('simplestreetmap:static/scripts/singletons/map.js') }}";
        import searchComponent from "{{ request.static_url('simplestreetmap:static/scripts/components/searchComponent.js') }}";
        import PlaceComponent from "{{ request.static_url('simplestreetmap:static/scripts/components/PlaceComponent.js') }}";
        customElements.define('c-place', PlaceComponent);
        render(
            html`
                <label for="search-input">Explore the world! What are you looking for?</label>
                <${searchComponent} id="search-input" onResultSelected="${(e) => console.log(e)}"/>
            `,
            document.getElementById('left-side-bar')
        );
    </script>

    <!-- <?php
      include "src/components/ChipBaseTemplate.php";
    ?> -->
</body>
</html>
