#annotation-mobile-button {
    display: none;
}

#close-annotation-panel {
    display: none;
}

.connection-infos {
    border: solid 1px var(--line-color-big-contrast);
    padding: 0.5rem;
}

.connection-infos--edit {
    background-color: #CAFFBA;
}

.connection-infos--local {
    background-color: #FFD6D6;
}

.connection-infos--read {
    background-color: #D6D6FF;
}

#annotations > ul {
    margin: 0;
    padding-left: 1rem;
}

.annotations-line {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.annotations-line__icon {
    height: 1.5rem;
    border-radius: 4px;
    background-color: var(--main-color);
    padding: 0.1rem;
}

.annotations-line__actions {
    display: flex;
    gap:0.5rem;
    align-items: center;
}

.annotations-line__name {
    cursor: pointer;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.annotations-line__name:hover {
    text-decoration: underline;
}

.annotations-line__actions button {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border:none;
    display: flex;
    align-items: center;
    cursor: pointer;

}