.standard-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--main-color);
    border: none;
    color: white;
    border-radius: 0.2rem;
    font-weight: 600;
}