:root
{
  --main-color: #69369B;
  --main-color-transparent-25: rgba(105, 54, 155, 0.25);
  --main-contrast-text: white;
  --shadow:0px 0px 15px 5px rgba(0,0,0,0.2);
  --line-color: #d3d3d380;
}

*
{
    font-family:'Russisch Sans';
}

.icon--medium
{
    width: 1.5em;
    height: 1.5em;
}

.icon--white
{
    filter: invert(100%);
}
