@import './global.css';
@import './search.css';
@import './itinerary.css';
@import './tabs.css';
@import './button.css';
@import './annotations.css';
@import './place.css';
@import './contextMenu.css';


body 
{ 
  margin:0; 
  padding:0; 
}

#map 
{ 
  position:absolute; 
  top:0; 
  bottom:0; 
  width: calc(100% - 350px);
}

#left-side-bar
{
  /*max-width: 350px;*/
  position: relative;
  padding: .5rem;
  display: inline-block;
  z-index: 10;
  width: fit-content;
}

#annotations
{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  box-shadow: var(--shadow);
  background-color: white;
  padding: 0.5rem;
  width: 350px;
  height: calc(100%);
  border-radius: 0px;
  box-sizing: border-box;
}

@media only screen and (min-device-width: 650px) {
  .search-results__result:last-child
  {
    border-radius: 0px 0px 5px 5px;
  }

  .search-container--with-results .search-label
  {
    border-radius: 5px 5px 0px 0px;
  }
}

@media only screen and (max-device-width: 650px) {

  #search-container
  {

    display:flex;
    flex-direction:column;
  }

  .search-container--with-results
  {
      height: 100%;
      background-color:white;
  }

  .search-container__top
  {
    flex-direction:column;
  }

  .search-label
  {
      margin-left:auto;
      margin-right:auto;
  }

  #places{
    padding-left:0px;
    white-space: nowrap;
    overflow-x: auto;
    box-shadow: none;
    flex-wrap: nowrap;
  }

  #places > *
  {
    box-shadow: none;
  }

  .search-container--with-results .search-container__bottom
  {
    display:block;
    padding: 2em;
    border-top: 1px solid var(--line-color);
    text-align:center;
  }

  #search-results
  {
    width: auto;
    max-width: 100%;
    position: initial;
    box-shadow: none;
    flex:1;
    overflow: auto;
  }
}
