@import './global.css';
@import './search.css';
@import './itinerary.css';
@import './tabs.css';
@import './button.css';


#interface
{
  position: relative;
  z-index: 10;
}

#left-side-bar
{
  /*max-width: 350px;*/
  padding: .5rem;
  display: inline-block;
}

.marker
{
  width: 40px;
  height: 50px;
  background-image: url("../images/pin.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  top:-20px;
}


#places
{
  display:inline-flex;
  flex-wrap:wrap;
  align-items: center;
  padding-left:1em;
}


@media only screen and (min-device-width: 650px) {
  .search-results__result:last-child
  {
    border-radius: 0px 0px 5px 5px;
  }

  .search-container--with-results .search-label
  {
    border-radius: 5px 5px 0px 0px;
  }
}

@media only screen and (max-device-width: 650px) {

  #search-container
  {

    display:flex;
    flex-direction:column;
  }

  .search-container--with-results
  {
      height: 100%;
      background-color:white;
  }

  .search-container__top
  {
    flex-direction:column;
  }

  .search-label
  {
      margin-left:auto;
      margin-right:auto;
  }

  #places{
    padding-left:0px;
    white-space: nowrap;
    overflow-x: auto;
    box-shadow: none;
    flex-wrap: nowrap;
  }

  #places > *
  {
    box-shadow: none;
  }

  .search-container--with-results .search-container__bottom
  {
    display:block;
    padding: 2em;
    border-top: 1px solid var(--line-color);
    text-align:center;
  }

  #search-results
  {
    width: auto;
    max-width: 100%;
    position: initial;
    box-shadow: none;
    flex:1;
    overflow: auto;
  }


 }
