/* Layer switcher */
.layer-switcher {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--shadow);
    align-self: baseline;
    margin: 1rem;
}

.layer-switcher__option {
    padding: 0.4em 0.8em;
    background-color: #000000aa;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.85em;
    backdrop-filter: blur(8px);
}

.layer-switcher__option {
    border-right: 1px solid #ffffff33;
}

.layer-switcher__option:last-child {
    border-right: 0px solid;
}

.layer-switcher__option--active {
    background-color: var(--main-color);
}

.layer-switcher__option:hover:not(.layer-switcher__option--active) {
    background-color: #000000cc;
}
